<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285361469297-9itma21bdfkn7l91pop27dll129digfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285361469297-9itma21bdfkn7l91pop27dll129digfg</string>
	<key>API_KEY</key>
	<string>AIzaSyAuLCenetBzZUlt5vR0ULpw_KCLyVvtSZE</string>
	<key>GCM_SENDER_ID</key>
	<string>285361469297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alice.TwiterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-cacf3</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-cacf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285361469297:ios:4fc76752e91714de20a8d0</string>
</dict>
</plist>